---
import { SEO } from "astro-seo"
import Footer from "./Footer.astro"
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/favicon.png" />
    <SEO title="asyomei" description="personal asyomei website" />
  </head>
  <body class="text-md bg-base leading font-mono text-primary">
    <main class="flex flex-col gap-8 p-10 sm:p-4 sm:pb-10">
      <slot />
    </main>
    <Footer />
  </body>
</html>

<style is:global>
  @import "./colors.css";

  @tailwind base;
  @tailwind components;
  @tailwind utilities;

  @layer base {
    h2 {
      @apply font-bold;
    }

    a {
      @apply text-accent underline;
    }
  }
</style>
