---
import { SEO } from 'astro-seo'
import Footer from './Footer.astro'
import Nav from './Nav.astro'
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/favicon.png" />
    <SEO title="asyomei" description="personal asyomei website" />
  </head>
  <body>
    <Nav />
    <main class="main">
      <slot />
    </main>
    <Footer />
  </body>
</html>

<style is:global>
  @import './css/reset.css';
  @import './css/colors.css';
  @import './css/global.css';

  body {
    overflow-y: scroll;
    background-color: var(--bg-base);
    color: var(--text-primary);
    font-family: monospace, ui-monospace;
    font-size: 14px;
    line-height: 18px;
  }

  .main {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 40px;
  }

  @media (max-width: 510px) {
    .main {
      padding: 20px 16px 40px;
    }
  }
</style>
