---
import { SEO } from 'astro-seo'
import { logVisitor } from '#/backend/umami'
import Footer from './Footer.astro'
import Nav from './Nav.astro'

interface Props {
  umami?: boolean
}

const { umami = false } = Astro.props
if (umami) logVisitor(Astro.request)
---

<html lang="en" class="overflow-y-scroll">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/favicon.png" />
    <SEO title="asyomei" description="personal asyomei website" />
  </head>
  <body class="bg-base font-mono text-md leading text-primary">
    <Nav />
    <main class="flex flex-col gap-8 p-10 sm:p-4 sm:pb-10 sm:pt-5">
      <slot />
    </main>
    <Footer />
  </body>
</html>

<style is:global>
  @import './colors.css';

  @tailwind base;
  @tailwind components;
  @tailwind utilities;

  @layer base {
    h2 {
      @apply font-bold;
    }

    a {
      @apply text-accent underline;
    }
  }
</style>
