---
import A from '#/components/ui/A'
import { gruvbox, proj, teidesu } from '#/urls'
---

<footer class="footer">
  <p>
    inspired by <A href={teidesu}>tei.su</A>
    / using <A href={gruvbox}>gruvbox palette</A>
  </p>
  <p>
    <A href={proj.website}>source code</A>
    (updated {import.meta.env.BUILD_DATE})
  </p>
</footer>

<style is:global>
  .footer {
    padding-bottom: 8px;
    text-align: center;
    font-size: 11px;
    color: var(--text-secondary);
  }
</style>
