---
import A from "#/components/A"
---

<footer class="pb-2 text-center text-sm text-secondary">
  inspired by <A href="https://tei.su">tei.su</A>
  / updated {import.meta.env.BUILD_DATE}
  / <A href="https://github.com/asyomei/asyomei.org">source code</A>
</footer>
