---
import A from '#/components/ui/A.astro'
---

<footer id="main-footer">
  inspired by <A href="//teidesu">tei.su</A>
  <br />
  updated {import.meta.env.BUILD_DATE}
</footer>

<style lang="scss" is:global>
  @use 'src/colors';
  @use 'src/offset';
  @use 'src/screens';

  #main-footer {
    position: fixed;
    bottom: offset.$y;
    right: offset.$x;

    color: colors.$text-secondary;
    text-align: center;
    font-size: 12px;

    @include screens.medium {
      position: sticky;
      top: 100vh;
      padding-bottom: offset.$y;
    }
  }
</style>
