---
import A from '#/components/A'
import { proj, teidesu } from '#/urls'
---

<footer class="pb-2 text-center text-sm text-secondary">
  inspired by <A href={teidesu}>tei.su</A>
  / updated {import.meta.env.BUILD_DATE}
  / <A href={proj.website}>source code</A>
</footer>
