---
import NavLink from './NavLink.astro'
---

<nav class="nav">
  <NavLink to="/">main</NavLink>
  <span class="sep">/</span>
  <NavLink to="/projects">projects</NavLink>
</nav>

<style is:global>
  .nav {
    position: absolute;
    right: 48px;
    top: 32px;
    display: flex;
    gap: 8px;
    border: 1px solid var(--text-primary);
    padding: 4px 8px;
  }

  .nav > .sep {
    user-select: none;
    color: var(--text-secondary);
  }

  @media (max-width: 510px) {
    .nav {
      right: 24px;
      top: 16px;
    }
  }
</style>
