---
import NavLink from './NavLink.astro'
---

<nav class="absolute right-12 top-8 flex gap-2 border px-2 py-1 sm:right-6 sm:top-4">
  <NavLink to="/">main</NavLink>
  <span class="select-none text-secondary">/</span>
  <NavLink to="/projects">projects</NavLink>
</nav>
