---
import A from '#/components/ui/A'

interface Props {
  to: string
}

const { to } = Astro.props
const { pathname } = Astro.url

const trim = (url: string) => url.replace(/\/$/, '')
const active = trim(to) === trim(pathname)
---

{
  active ? (
    <b>
      <slot />
    </b>
  ) : (
    <A href={to}>
      <slot />
    </A>
  )
}
