---
import A from '#/components/ui/A.astro'
import LinkNav from '#/components/ui/LinkNav.astro'
---

<LinkNav class="pages">
  <A href="/">main</A>
</LinkNav>

<style lang="scss" is:global>
  @use 'src/offset';

  .pages {
    position: absolute;
    top: offset.$y;
    left: offset.$x;
  }
</style>
