---
import A from "#/components/A"
import LastFMAction from "#/components/actions/LastFMAction.astro"
import Section from "#/components/Section.astro"
import Table from "#/components/Table.astro"
import TotalVisitors from "#/components/TotalVisitors.astro"
import DefaultLayout from "#/layouts/DefaultLayout/DefaultLayout.astro"
---

<DefaultLayout umami={true}>
  <Section>
    <h1>sekai, konnichiwa~</h1>

    <p>
      i am vadim <A href="https://mynickname.com/asyomei">asyomei</A>
      <br />
      yet another dev, so <A href="https://github.com/asyomei">my github</A>
    </p>

    <p>currently i am learning web developing and japanese</p>
  </Section>

  <Section title="personal info">
    <Table>
      languages
      <p>[ru] native, [en] so-so, [ja] only basics</p>

      languages
      <p>[js/ts] love</p>

      birthday
      <p>feb 9 (aquarius)</p>

      fav anime
      <p>chobits, i think</p>

      fav music
      <p>
        well, very diverse, check
        <A href="https://last.fm/user/asyomei">last.fm</A>
      </p>
    </Table>
  </Section>

  <Section title="contacts">
    <Table>
      telegram
      <p><A href="https://t.me/asyomei">@asyomei</A></p>

      vk
      <p><A href="https://vk.com/asyomei">@asyomei</A></p>

      4pda
      <p><A href="https://4pda.to/forum/index.php?showuser=8079654">@vabgalimov</A></p>

      email
      <p>vadim at asyomei.org</p>

      phone
      <p>don't like</p>

      mail
      <p>why</p>
    </Table>
  </Section>

  <Section title="actions">
    <div class="flex flex-wrap gap-6">
      <LastFMAction />
    </div>
  </Section>

  <Section>
    <TotalVisitors />
  </Section>
</DefaultLayout>
