---
import { Image } from "astro:assets"
import avatar from "../assets/avatar.jpg"
import CopyableText from "../components/dynamic/CopyableText"
import Emoji from "../components/dynamic/Emoji"
import Link from "../components/Link"
import DefaultLayout from "../layouts/DefaultLayout.astro"
---

<DefaultLayout>
  <header class="flex gap-12">
    <Image src={avatar} alt="avatar" height={100} width={100} class="rounded-full" />
    <span class="self-center">
      <h3 class="text-2xl text-accent">
        Вадим «<Link href="https://mynickname.com/id1805155">Asyomei</Link>»
      </h3>
      <span>Начинающий <Link href="https://github.com/asyomei">разработчик</Link></span>
    </span>
  </header>

  <section>
    <p class="flex gap-3">
      <span>Привет, мир!</span>
      <Emoji client:idle />
    </p>
  </section>

  <section>
    <p>Я студент мужского пола, родился 9 февраля (поэтому я водолей)</p>
    <p>Во мне нет ничего особенного, так что вы вряд ли знаете меня</p>
  </section>

  <section>
    <p>На данный момент я обучаюсь в ВУЗе на направление «Программная инженерия»</p>
  </section>

  <section>
    <p>Я плох в следующих направлениях:</p>
    <ul class="list-inside list-disc">
      <li>Английский язык</li>
      <li>
        Программирование (преимущественно на TypeScript, можете чекнуть раздел
        {" "}
        «<Link href="/projects">Проекты</Link>»)
      </li>
    </ul>
  </section>

  <section>
    <p>Список основных контактов:</p>
    <ul class="list-inside list-[square]">
      <li><Link href="https://t.me/Asyomei">Телеграм</Link></li>
      <li><Link href="https://vk.com/asyomei">ВКонтакте</Link></li>
    </ul>
  </section>

  <section>
    <p>Прочие контакты:</p>
    <ul class="list-inside list-[square]">
      <li><Link href="https://4pda.to/forum/index.php?showuser=8079654">4PDA</Link></li>
      <li>
        Электронная почта —
        <CopyableText client:idle copyText="vadim@asyomei.org">vadim @ asyomei.org</CopyableText>
      </li>
    </ul>
  </section>

  <section>
    <p>Вот ещё интересные ссылки:</p>
    <ul class="list-inside list-[square]">
      <li><Link href="https://last.fm/user/asyomei">Last.fm</Link> — список прослушанной музыки</li>
      <li><Link href="https://shikimori.one/asyomei">Shikimori</Link> — список аниме</li>
      <li><Link href="https://vndb.org/u266442">VNDB</Link> — список визуальных новелл</li>
      <li>
        <Link href="https://monkeytype.com/profile/Asyomei">Monkeytype</Link> — тест скорости печати
      </li>
    </ul>
  </section>
</DefaultLayout>
