---
import { fetchJpwotd, fetchLastSeenItems } from '#/backend'
import JapaneseWotd from '#/components/services/JapaneseWotd.astro'
import LastSeen from '#/components/services/LastSeen.astro'
import A from '#/components/ui/A.astro'
import Grid from '#/components/ui/Grid.astro'
import Section from '#/components/ui/Section.astro'
import DefaultLayout from '#/layouts/DefaultLayout/index.astro'
import { getYearsOld } from '#/utils/years-old'

const yearsOld = getYearsOld(new Date(2006, 2 - 1, 9))

const [lastSeenItems, jpwotd] = await Promise.all([fetchLastSeenItems(), fetchJpwotd()])
---

<DefaultLayout>
  <h1>Konnichiwa, world!</h1>

  <p>I'm <A href="//my/nickname">asyomei</A>, yet another person on Earth</p>

  <Section title="Some info about me">
    <Grid columns="120px auto">
      <p>Name</p>
      <p>Vadim</p>

      <p>E-Mail</p>
      <p class="email">vadim [at] asyomei.org</p>

      <p>Birthday</p>
      <p>9 February 2006 ({yearsOld})</p>

      <p>Developer</p>
      <p>true</p>

      <p>Languages</p>
      <p>
        Russian [native]
        <br />
        TS/JS [main used]
      </p>

      <p>Loves</p>
      <p>Nature, cute, emotional things</p>

      <p>Fav music</p>
      <p>
        Metal and rock, check <A href="//my/profiles/lastfm">my last.fm</A>
      </p>
    </Grid>
  </Section>

  <Section title="My profiles">
    <Grid columns="120px 120px auto">
      <p><A href="//my/profiles/telegram">Telegram</A></p>
      <p><A href="//my/profiles/bluesky">Bluesky</A></p>
      <p><A href="//my/profiles/vk">VK</A></p>

      <p><A href="//my/profiles/github">GitHub</A></p>
      <p><A href="//my/profiles/lastfm">Last.FM</A></p>
      <p><A href="//my/profiles/fourpda">4PDA</A></p>

      <p><A href="//my/profiles/shikimori">Shikimori</A></p>
      <p><A href="//my/profiles/gravatar">Gravatar</A></p>
      <p><A href="//my/profiles/vndb">VNDB</A></p>
    </Grid>
  </Section>

  {
    lastSeenItems.length > 0 && (
      <Section title="Last Seen">
        <LastSeen items={lastSeenItems} />
      </Section>
    )
  }

  {
    jpwotd && (
      <Section title="Japanese word of the day">
        <JapaneseWotd data={jpwotd} />
      </Section>
    )
  }

  <Section title="Useless links">
    <h3>Videos:</h3>
    <div>
      <p>
        <A href="//pannyaVideo">Pannya-Chan</A> - very cute
      </p>
      <p>
        <A href="//ayaya10hVideo">Ayaya intensifies 10 hours</A> - why not
      </p>
    </div>
  </Section>
</DefaultLayout>

<style lang="scss" is:global>
  @use 'src/colors';

  .email {
    color: colors.$text-accent;
  }
</style>
