---
import A from '~/components/A.astro'
import DefaultLayout from '~/layouts/DefaultLayout.astro'
---

<DefaultLayout>
  <section>Hello World!</section>

  <section>
    I'm Vadim aka Syomei Aoshima aka <A href="//my/nickname">@asyomei</A>
    <br />
    Some anime noobie trying to get into IT
  </section>

  <section>
    <b>--- a little information about me ---</b>
    <div class="mt-2 table">
      <p>Birthday</p>
      <p>February 09</p>

      <p>Languages</p>
      <p>ru, en</p>

      <p>Fav flower</p>
      <p>sunflower</p>

      <p>Fav anime</p>
      <p>
        gochiusa (<A href="//gochiusa/shiki">shiki</A>/<A href="//gochiusa/anilist">anilist</A>)
      </p>

      <p>Fav music</p>
      <p>check <A href="//my/profiles/lastfm">lastfm</A></p>

      <p>E-Mail</p>
      <p>neko {'<at>'} asyomei.org</p>
    </div>
  </section>

  <section>
    <b>--- my profiles ---</b>
    <div class="mt-2 table">
      <p>telegram</p>
      <p><A href="//my/profiles/telegram">@asyomei</A></p>

      <p>bluesky</p>
      <p><A href="//my/profiles/bluesky">@asyomei.org</A></p>

      <p>github</p>
      <p><A href="//my/profiles/github">@asyomei</A></p>

      <p>vk</p>
      <p><A href="//my/profiles/vk">@asyomei</A></p>

      <p>fourpda</p>
      <p><A href="//my/profiles/fourpda">@asyomei</A></p>
    </div>
  </section>

  <section>
    <b>--- some useless links ---</b>
    <div class="mt-2 table">
      <p><A href="//ayaya10hVideo">ayaya 10h</A></p>
      <p>why not</p>
    </div>
  </section>
</DefaultLayout>
