---
import Link from "../components/Link"
import DefaultLayout from "../layouts/DefaultLayout.astro"
---

<DefaultLayout title="Проекты | Asyomei">
  <section>
    <p>Так как я начинающий разработчик, то я время от времени пишу код</p>
  </section>

  <section>
    <p>
      Конечно, здесь пока нет ничего грандиозного, но возможно в будущем я стану крутым
      программистом ;)
    </p>
  </section>

  <section>
    <p>Итак, мои проекты:</p>
    <ul class="list-inside list-disc">
      <li>
        <Link href="https://github.com/asyomei/asyomei.org">Этот сайт</Link> — написан с помощью
        <Link href="https://astro.build">Astro</Link> с применением
        <Link href="https://solidjs.com">SolidJS</Link>
      </li>
      <li>
        <Link href="https://github.com/asyomei/himawari-bot">Himawari Bot</Link> —
        <Link href="https://t.me/himawaridesu_bot">телеграм бот</Link>, который позволяет искать
        информацию об аниме и манги, используя API
        <Link href="https://shikimori.one">Shikimori</Link>; написан с помощью
        <Link href="https://grammy.dev">grammY</Link>
      </li>
    </ul>
  </section>

  <section>
    <p>
      Подпишитесь на мой <Link href="https://github.com/asyomei">GitHub</Link>, чтобы не пропустить
      новые проекты!
    </p>
  </section>
</DefaultLayout>
