---
import A from '#/components/A'
import Section from '#/components/Section.astro'
import Table from '#/components/Table.astro'
import TotalVisitors from '#/components/TotalVisitors.astro'
import DefaultLayout from '#/layouts/DefaultLayout/DefaultLayout.astro'
import { himawariBot, proj } from '#/urls'
---

<DefaultLayout umami={true}>
  <Section>
    <h1>so, my projects</h1>

    <p>nothing serious, i am just getting started</p>
  </Section>

  <Section title="projects">
    <Table type="medium">
      <A href={proj.website}>asyomei.org</A>
      <p>well, my website. i made it with astro</p>

      <A href={proj.himawari}>himawari bot</A>
      <p>
        <A href={himawariBot}>telegram bot</A>, searches anime and manga info using shikimori api
        (russian)
      </p>
    </Table>
  </Section>

  <Section>
    <TotalVisitors />
  </Section>
</DefaultLayout>
