---
import Link from "./Link"
---

<footer class="text-secondary fixed bottom-0 w-full bg-mantle text-xs">
  <section class="flex justify-end gap-2 pr-2">
    <span>Обновлено {import.meta.env.VITE_BUILD_DATE}</span>
    <span class="select-none">|</span>
    <Link href="https://catppuccin.com/palette">Catppuccin</Link>
  </section>
</footer>
