---
import Emoji from "./Emoji"
import Nav from "./Nav"
---

<header class="flex bg-accent px-3 py-0.5 *:flex *:flex-1">
  <section>
    <a href="https://mynickname.com/id1805155" class="font-bold text-primary">asyomei</a>
    <span class="select-none px-2 text-secondary">/</span>
    <a href="https://github.com/asyomei" class="text-accent">github</a>
  </section>
  <section>
    <Emoji client:idle />
  </section>
  <section class="justify-end">
    <Nav pathname={Astro.url.pathname} />
  </section>
</header>
