---
import ThemeSwitcher from "./dynamic/ThemeSwitcher"
import Link from "./Link"
import iconPixelHome from "../icons/pixel-home.svg?raw"
import iconPixelCode from "../icons/pixel-code.svg?raw"

const links = [
  {
    icon: iconPixelHome,
    title: "Главная",
    to: "/",
  },
  {
    icon: iconPixelCode,
    title: "Проекты",
    to: "/projects",
  },
]

const trimSlashes = (s: string) => s.replace(/^\/|\/$/g, "")

const current = trimSlashes(Astro.url.pathname)
const isActive = (to: string) => trimSlashes(to) === current
---

<menu class="flex w-full justify-between gap-6 bg-mantle p-2">
  <nav class="flex gap-4">
    {
      links.map(({ icon, title, to }) => (
        <Link {title} href={to} class:list={[isActive(to) && "text-accent"]}>
          <Fragment set:html={icon} />
        </Link>
      ))
    }
  </nav>
  <ThemeSwitcher client:only="solid-js" />
</menu>
