.last-seen {
  white-space: nowrap;
  overflow: hidden;
}

.last-seen > * + * {
  padding-top: 2px;
}

.last-seen .item {
  display: flex;
  gap: 8px;
}

.last-seen .content {
  display: flex;
  overflow: hidden;
}

.last-seen .content > .link {
  overflow: hidden;
  text-overflow: ellipsis;
}

.last-seen .content > .suffix {
  font-size: 12px;
}

.last-seen .service,
.last-seen .marker {
  color: var(--text-secondary);
  font-size: 12px;
}

.last-seen > summary {
  display: flex;
  justify-content: space-between;
  gap: 24px;
  outline: none;
}

.last-seen > summary:active {
  user-select: none;
}

.last-seen > summary:hover {
  background-color: var(--bg-overlay);
  cursor: pointer;
}

.last-seen > summary > .first {
  overflow: hidden;
}

.last-seen > summary > .marker::after {
  content: '(show)';
}

.last-seen[open] > summary > .marker::after {
  content: '(hide)';
}

@media (max-width: 510px) {
  .last-seen .item {
    flex-direction: column;
    gap: 0;
  }

  .last-seen > summary > .marker::after {
    content: 'v';
  }

  .last-seen[open] > summary > .marker::after {
    content: '<';
  }
}
