.last-seen > .item {
  display: flex;
  gap: 8px;
}

.last-seen {
  white-space: nowrap;
  overflow: hidden;
}

.last-seen > .item > .content {
  display: flex;
  overflow: hidden;
}

.last-seen > .item > .content > .link {
  overflow: hidden;
  text-overflow: ellipsis;
}

.last-seen > .item > .content > .suffix {
  font-size: 12px;
}

.last-seen > .item > .service {
  color: var(--text-secondary);
  font-size: 12px;
}

@media (max-width: 510px) {
  .last-seen > .item {
    flex-direction: column;
    gap: 0;
  }
}
