---
interface Props {
  title?: string
}

const { title } = Astro.props
---

<section>
  {title && <h2>--- {title} ---</h2>}

  <slot />
</section>

<style>
  section {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
</style>
