---
import { Icon } from "astro-icon/components"
import ThemeSwitcher from "./dynamic/ThemeSwitcher"
import Link from "./Link"

const links = [
  {
    icon: "pixelarticons:home",
    title: "Главная",
    to: "/",
  },
  {
    icon: "pixelarticons:code",
    title: "Проекты",
    to: "/projects",
  },
  {
    icon: "pixelarticons:github-2",
    title: "Исходный код",
    to: "https://github.com/asyomei/asyomei.org",
  },
]

const trimSlashes = (s: string) => s.replace(/^\/|\/$/g, "")

const current = trimSlashes(Astro.url.pathname)
const isActive = (to: string) => trimSlashes(to) === current
---

<menu class="fixed z-10 flex h-full w-min flex-col justify-between gap-6 bg-mantle p-2 align-top">
  <nav class="flex flex-col gap-4">
    {
      links.map(({ icon, title, to }) => (
        <Link href={to} class:list={[isActive(to) && "text-accent"]}>
          <Icon name={icon} {title} size="24" />
        </Link>
      ))
    }
  </nav>
  <ThemeSwitcher client:only="solid-js">
    <Icon slot="light" size="24" name="pixelarticons:sun-alt" title="Светлая тема" />
    <Icon slot="browser" size="24" name="pixelarticons:cloud" title="Тема браузера" />
    <Icon slot="dark" size="24" name="pixelarticons:moon" title="Тёмная тема" />
  </ThemeSwitcher>
</menu>
