---
interface Props {
  type?: 'default' | 'medium'
}

const { type } = Astro.props
---

<div class:list={['table', type !== 'default' && type]}>
  <slot />
</div>

<style is:global>
  .table {
    display: grid;
    grid-template-columns: 100px 1fr;
  }

  .table.medium {
    grid-template-columns: 120px 1fr;
  }
</style>
