---
interface Props {
  type?: 'default' | 'medium'
}

const { type } = Astro.props
---

<div class:list={[type !== 'default' && type]}>
  <slot />
</div>

<style>
  div {
    display: grid;
    grid-template-columns: 100px 1fr;
  }

  .medium {
    grid-template-columns: 120px 1fr;
  }
</style>
