---
import { getVisitorsCount } from "#/backend/umami"

interface Props {
  url?: string
}

const { url = Astro.url.pathname } = Astro.props
const totalVisitors = await getVisitorsCount(url)
---

<p class="text-secondary">total visitors of this page: {totalVisitors}</p>
