/* https://github.com/morhetz/gruvbox?tab=readme-ov-file#palette */

:root {
  --bg-base: #fbf1c7;
  --bg-overlay: #ebdbb2;
  --text-primary: #3c3836;
  --text-accent: #cc241d;
  --text-secondary: #928374;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-base: #282828;
    --bg-overlay: #3c3836;
    --text-primary: #ebdbb2;
    --text-accent: #fb4934;
  }
}
