---
import { SEO } from "astro-seo"
import InitTheme from "../components/InitTheme.astro"

export interface Props {
  title?: string
  class?: string
}

const { title = "Asyomei", class: className } = Astro.props
---

<!doctype html>
<html lang="ru" class="h-full">
  <head>
    <SEO {title} description="Личная страница Asyomei в интернете" />
    <link rel="icon" href="/favicon.png" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
    <InitTheme />
  </head>
  <body class:list={["h-full", className]}>
    <slot />
  </body>
</html>

<style is:global>
  @tailwind base;
  @tailwind components;
  @tailwind utilities;

  @layer base {
    :root {
      --light-bg: #eff1f5;
      --light-bg-mantle: #e6e9ef;
      --light-text-accent: #8839ef;
      --light-text-primary: #4c4f69;
      --light-text-secondary: #6c6f85;

      --dark-bg: #1e1e2e;
      --dark-bg-mantle: #181825;
      --dark-text-accent: #cba6f7;
      --dark-text-primary: #cdd6f4;
      --dark-text-secondary: #a6adc8;
    }
  }
</style>
