---
import Footer from './default/Footer.astro'
import Header from './default/Header.astro'

interface Props {
  title?: string
  disableFooterStickingHelper?: boolean
}

const {
  title = 'Syomei Aoshima',
  disableFooterStickingHelper = false,
} = Astro.props
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/gif" href="/favicon.gif" />
    <title>{title}</title>
  </head>
  <body class="min-h-screen flex flex-col items-center bg-base text-sm text-primary leading-4 font-mono underline-offset-2">
    <div class="min-h-screen w-full flex flex-col gap-6 p-6 md:w-720px">
      <Header />
      <slot />

      {!disableFooterStickingHelper && (
        <div class="flex-1">
          <!-- placeholder for sticking footer to bottom -->
        </div>
      )}
      <Footer />
    </div>
  </body>
</html>

<style is:global>
  :root {
    --bg: snow;
    --text-primary: #3e1a6e;
    --text-accent: #8839ef;
    --text-secondary: #7c7f93;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --bg: #241c1e;
      --text-primary: #f5c2e7;
      --text-accent: #cba6f7;
      --text-secondary: #9399b2;
    }
  }

  * {
    box-sizing: border-box;
  }

  a {
    @apply text-accent hover:underline;
  }
</style>
