---
import "@fontsource/roboto"
import BaseLayout from "./BaseLayout.astro"
import Footer from "../components/Footer.astro"
import Header from "../components/Header.astro"

interface Props {
  title?: string
  class?: string
}

const { title, class: className } = Astro.props
---

<BaseLayout {title} class="flex flex-col bg-primary font-base text-primary">
  <Header />
  <main
    class:list={[
      "flex flex-[1_0_auto] flex-col gap-6 break-words pb-5 pl-10 pr-20 pt-8 sm:pl-5 sm:pr-2 sm:pt-6",
      className,
    ]}
  >
    <slot />
  </main>
  <Footer />
</BaseLayout>
