---
import "@fontsource/roboto"
import Sidebar from "../components/Sidebar.astro"
import BaseLayout from "./BaseLayout.astro"
import Footer from "../components/Footer.astro"

interface Props {
  title?: string
  class?: string
}

const { title, class: className } = Astro.props
---

<BaseLayout {title} class="bg-primary font-base text-primary">
  <Sidebar />
  <main class:list={["flex flex-col gap-6 pb-5 pl-20 pt-8 sm:pl-14 sm:pt-6", className]}>
    <slot />
  </main>
  <Footer />
</BaseLayout>
