---
import A from '../A'

interface Props {
  title: string
  link?: string
}

const { title, link } = Astro.props
---

<fieldset class="border p-4">
  <legend>
    {link ? <A href={link}>{title}</A> : title}
  </legend>

  <slot />
</fieldset>
